.vignette
{
    position: absolute;


    box-shadow: inset 0 0 20rem black;
}

body
{
    /* background-color: #c5ffff */
    background-color: #9ae793;
}

.fullscreen
{
    position: absolute;

    inset: 0;

    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

button
{
    cursor: pointer;
}
